// A list of blacks and very dark colors

$cod-grey: #0B0B0B;

$woodsmoke: #0C0D0F;

$diesel: #130000;

$nero : #140600;

$shark : #25272C;

$mine-shaft: #323232;

$heavy-metal: #2B3228;

$tuna: #353542;

// green/blue
$outer-space: #2D383A;

// green
$deep-fir:  #002900;

// brown/red
$thunder: #33292F;

