@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  padding: 20px;

}

$red : #BB2211;

.active, {
  color: $red;
}

.header {
  height: 40px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* selected link */
a:active {
  color: $red;
}

ul li {
  list-style: none;
  display: inline;
}
