@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  padding: 20px;

}

$grey: #ccc;
$red : #BB2211;

.active, {
  color: $red;
}

.header {
  height: 40px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* selected link */
a:active {
  color: $red;
}

ul li {
  list-style: none;
  display: inline;
}

// for the multiplication table
.multiplication-table > div {
  display:block;
}

.multiplication-table > div > div{
  display:inline-block;
  border:1px solid #ddd;
  width:50px;
  line-height:50px;
  text-align:center;
}


$display-width: 400px;

$image-size: 150px;

// input styling

.input-group {
  margin-top: 1em;
  margin-bottom: 1em;
  width: $display-width;
}

.input-group-addon {
  width: 150px;
}

// the image container for the circle image

.image-container {
  width: $display-width;
  min-height: $image-size;
//  border: solid 1px $red;
}

.img-circle {
  text-align: center;
}

$people-container-space: 10px;

.people-container {
  border: solid 1px $grey;
  display: block;
  width: $display-width + $people-container-space * 2;
  padding: $people-container-space;
  min-height: 612px;

}

// aligns both horizontally and vertically
.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.f9-icon {
  color: $grey;
}