<p><strong>Person</strong></p>

<input-item name="First Name" model="people.person.firstName"></input-item>

<input-item name="Second Name" model="people.person.secondName"></input-item>

<input-item name="Password" model="people.person.password"></input-item>

<input-item name="Username" model="people.person.username"></input-item>

<input-item name="Email" model="people.person.email"></input-item>

<button type="button" class="btn btn-succcess" ng-click="people.getRandomPerson()" aria-haspopup="true" aria-expanded="false">
Regenerate</button>
