<div>
    <p>This is a very simple `site` exploring <a href="http://www.angulargrid.com/index.html">Angular Grid</a></p>
    <p>I'll start with a very simple example and move on from there...</p>
</div>

<div class="container flex-container">
    <div class="square">
        <p style="">color tests</p>
    </div>
    <div class="square color-primary">
        <p>Primary Color</p>
    </div>
    <div class="square color-grey">
        <p>Grey same tone as the Primary Color</p>
    </div>
    <div class="square color-complementary">
        <p>Complement to the Primary Color</p>
    </div>
    <div class="square color-grey">
        <p>Grey same tone as the Complementary Color</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square square-title">
        <p>THE SET</p>
    </div>
    <div class="square square-title color-primary">
        <p>PRIMARY</p>
    </div>
    <div class="square square-title color-secondary">
        <p>SECONDARY</p>
    </div>
    <div class="square square-title color-tertiary">
        <p>TERTIARY</p>
    </div>
    <div class="square square-title color-complementary">
        <p>COMPLEMENTARY</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square square-title">
        <p>THE SET LIGHT</p>
    </div>
    <div class="square square-title color-primary-light">
        <p>PRIMARY LIGHT</p>
    </div>
    <div class="square square-title color-secondary-light">
        <p>SECONDARY LIGHT</p>
    </div>
    <div class="square square-title color-tertiary-light">
        <p>TERTIARY LIGHT</p>
    </div>
    <div class="square square-title color-complementary-light">
        <p>COMP. LIGHT</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square square-title">
        <p>THE Set Dark</p>
    </div>
    <div class="square square-title color-primary-dark">
        <p>PRIMARY DARK</p>
    </div>
    <div class="square square-title color-secondary-dark">
        <p>SECONDARY DARK</p>
    </div>
    <div class="square square-title color-tertiary-dark">
        <p>TERTIARY DARK</p>
    </div>
    <div class="square square-title color-complementary-dark">
        <p>COMP. DARK</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square square-title">
        <p>THE grey set</p>
    </div>
    <div class="square square-title color-grey">
        <p>primary grey</p>
    </div>
    <div class="square square-title p--highlight color-grey-light">
        <p>Grey light</p>
    </div>
    <div class="square square-title p--highlight color-grey-dark">
        <p>Grey dark</p>
    </div>
    <div class="square square-title p--highlight color-grey-light">
        <p>Grey light</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square">
        <p>We can rotate as well</p>
    </div>
    <div class="square color-secondary">
        <p>The original color rotated -ve secondary</p>
    </div>
    <div class="square color-tertiary">
        <p>The original color rotated +ve tertiary</p>
    </div>
    <div class="square color-complementary">
        <p>The original color rotated 180% ( the complementary )</p>
    </div>
    <div class="square color-primary">
        <p>Primary Color</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square">
        <p>We can lighten all the colors</p>
    </div>
    <div class="square color-secondary-light">
        <p>The secondary color lightened</p>
    </div>
    <div class="square color-tertiary-light">
        <p>The tertiary color lightened</p>
    </div>
    <div class="square color-complementary-light">
        <p>The complementary color lightened</p>
    </div>
    <div class="square color-primary-light">
        <p>Primary Color lightened</p>
    </div>
</div>
<div class="container flex-container">
    <div class="square">
        <p>We can darken all the colors</p>
    </div>
    <div class="square color-secondary-dark">
        <p>The secondary color darkened</p>
    </div>
    <div class="square color-tertiary-dark">
        <p>The tertiary color darkened</p>
    </div>
    <div class="square color-complementary-dark">
        <p>The complementary color darkened</p>
    </div>
    <div class="square color-primary-dark">
        <p>Primary Color darkened</p>
    </div>
</div>
