/* See: http://www.sitepoint.com/using-sass-build-color-palettes/ */


$base-palette: (
        'base': #ff6351,
        'colors': #cfdfe8 #bfb9c3 #cf9192 #ff6351 #bf413c #7f3128 #732c24
) !default;


/* The color-diff function returns a map of operations to apply to the first color ($a) to obtain the second color ($b). */
@function color-diff($a, $b) {
        $sat: saturation($a) - saturation($b);
        $lig: lightness($a) - lightness($b);
        $fn-sat: if($sat > 0, 'desaturate', 'saturate');
        $fn-lig: if($lig > 0, 'darken', 'lighten');

        @return (
                adjust-hue: -(hue($a) - hue($b)),
                #{$fn-sat}: abs($sat),
                #{$fn-lig}: abs($lig)
        );
}

/* Next we need a function that runs color-diff on every color of the base palette ($base-palette), and return a list of these diffs: */
@function palette-diff($palette) {
        $base: map-get($palette, 'base');
        $colors: map-get($palette, 'colors');
        $diffs: ();

        @each $color in $colors {
                $diffs: append($diffs, color-diff($base, $color));
        }

        @return $diffs;
}


$palette-diff: palette-diff($base-palette);

@function apply-diff($color, $diff) {
        @each $function, $value in $diff {
                $color: call($function, $color, $value);
        }

        @return $color;
}

@function create-palette($base-color) {
        $palette: ();

        @each $diff in $palette-diff {
                $palette: append($palette, apply-diff($base-color, $diff));
        }

        @return $palette;
}

$green-palette: create-palette(lightgreen);


@function lightest($palette) {
        @if not map-has-key($palette, 'lightest') {
                @warn "`#{inspect($palette)}` doesn't seem to have a key named `lightest`.";
        }

        @return map-get($palette, 'lightest');
}

@function lighter($palette) {
        @if not map-has-key($palette, 'lighter') {
                @warn "`#{inspect($palette)}` doesn't seem to have a key named `lighter`.";
        }

        @return map-get($palette, 'lighter');
}

@function light($palette) {
        @if not map-has-key($palette, 'light') {
                @warn "`#{inspect($palette)}` doesn't seem to have a key named `light`.";
        }

        @return map-get($palette, 'light');
}